html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none!important;
}

.header{
    background: url('adi1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center bottom;
    height: 100vh;
    width: 100wh;
    overflow: hidden;
}

.heading{
    display: flex;
    flex-direction: column;
    height: 100vh;
    word-spacing: 0.1rem;
    letter-spacing: 1px;
    justify-content: center;
    font-family: 'Manrope', sans-serif;   
}

.txt-type>.txt{
    border-right: 0.2rem solid white;
}

.icons>a{
    text-decoration: none;
    color: darkgrey;
    padding-right: 1.5rem;
}

.mainsec{
    background-color: rgb(45, 43, 49);
    overflow: hidden;
}

.about{
    color: white;
    height: 85vh;
    align-items: center;
    display: grid;
    grid-template-areas: 
    'biopic bio';
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr;
}

.pic{
    grid-area: biopic;
}

.bio{
    grid-area: bio;
    font-size: 1.3rem;
    padding: 1rem;
    font-family: 'Questrial', sans-serif;
}

.myskill{ 
    color: white;
    margin-top: 3rem;
    display: grid;
    height: 70vh;
    
    grid-template-areas: 
    'prog exp';
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr;
}


.prog{
    grid-area: prog;
    padding: 10px;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.3rem;
}

.exp{
    grid-area: exp;
    padding: 10px;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.3rem;
}

.school{
    margin-bottom: 2rem; 
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: start;
    grid-template-areas: 
    'slps vit';
    grid-gap: 3.5rem;
    grid-template-columns: 1fr 1fr;
}
.slps{
    grid-area: slps;
    padding: 20px;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Mada', sans-serif;

}

.vit{
    grid-area: vit;
    padding: 15px;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    font-family: 'Mada', sans-serif;
}
.vit>img{
    width:459px;
}



.papu{
    margin-top: 6rem;
}

.con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    font-family: 'Tajawal', sans-serif;
}

.con>div{
    font-size: 1.4rem;
    border: 3px black solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
}

.con>div:hover{
    padding: 35px;
    transition: all 0.3s linear;
    background-color: rgb(44, 37, 37);
    color: rgb(255,204,0);
}
.ico>a:hover{
    color: rgb(255,204,0);
}

.ico>a{
    padding: 1.1rem;
    color: white;
}



@media(max-width: 340px){
    .header>div>h1{
    font-size: 2rem;
} 
    .header>div>h2{
    font-size: 1.5rem;
}
     .about{
        grid-template-areas: 
            'biopic'
            'bio';
        grid-template-columns: 1fr;
         height: 100vh;
}
    .pic{
        margin-top: 1.5rem;
        width: 100%;
    }
     .myskill{
        grid-template-areas: 
            'prog'
            'exp';
        grid-template-columns: 1fr;
         height: 100vh;
}
    #skills{
    margin-top: 7rem;
}
    .school{
        margin-top: 2rem;
        grid-template-areas: 
            'slps'
            'vit';
        grid-template-columns: 1fr;
        height: 100vh;
    }
    .vit>img{
    width:459px;
}
#education{
    margin-top: 12rem;
}
    .papu{
        margin-top: 43rem;
    }
    
    .ico>a{
    padding: 0.6rem;
    color: white;
}
    .con>div{
    font-size: 1.4rem;
    border: 3px black solid;
    padding: 1.4rem 1rem;
    margin-bottom: 3rem;
}
    .con>div:hover{
    padding: 13px;
    transition: all 0.3s linear;
    background-color: rgb(44, 37, 37);
    color: rgb(255,204,0);
}
}




@media(max-width:800px){
    .header>div>h2{
    font-size:2.5rem;
}
    .header>div>h2{
    font-size:1.5rem;
}
     .about{
        grid-template-areas: 
            'biopic'
            'bio';
        grid-template-columns: 1fr;
         height: 100vh;
}
    .pic{
        margin-top: 1.5rem;
        width: 100%;
    }
     .myskill{
        grid-template-areas: 
            'prog'
            'exp';
        grid-template-columns: 1fr;
         height: 100vh;
}
    #skills{
    margin-top: 1rem;
}
    .school{
        margin-top: 2rem;
        grid-template-areas: 
            'slps'
            'vit';
        grid-template-columns: 1fr;
        height: 100vh;
    }
    .vit>img{
    width:459px;
}
#education{
    margin-top: 4rem;
}
    .papu{
        margin-top: 37rem;
    }
    
    .ico>a{
    padding: 0.6rem;
    color: white;
}
}
